<div class="column ui mid addingb">
    <div class="ui tabular menu">
        <a class="active item" ng-click="show_change(0)">League</a>
        <a class="item" ng-click="show_change(1)">Team</a>
        <a class="item" ng-click="show_change(2)">Game</a>
        <a class="item" ng-click="show_change(3)">City</a>
        <a class="item" ng-click="show_change(4)">School</a>
        <a class="item" ng-click="show_change(5)">Field</a>
        <a class="item" ng-click="show_change(6)">Umpire</a>
    </div>

	<form ng-hide="show[0]" action="" class="ui">
        <div class="field">
            League name<input type="text" ng-model="league">
        </div>
        <div class="field">
            City<input type="text" ng-model="city0">
        </div>
        <div class="field">
            Year<input type="text" ng-model="year">
        </div>
        <button class="ui button" ng-click="add_league()">Send</button>
    </form>

	<form ng-hide="show[1]" action="" class="ui">
        <div class="field">
            Team name<input type="text" ng-model="team1">
        </div>
        <div class="field">
            School<input type="text" ng-model="school1">
        </div>                
        <button class="ui button" ng-click="add_team()">Send</button>
    </form>

    <form ng-hide="show[2]" action="" class="ui">
        <div class="field">
            <div class="field">
                League
                <select ng-model="in_league" ng-change="league_change()">
                    <option value="">Select league</option>
                    <option ng-value="league.league_id" ng-repeat="league in leagues" ng-bind="league.league_name"></option>
                </select>
            </div> 
            <div class="field" ng-hide="league_pick">
                Home team
                <select ng-model="home_team">
                    <option value="">Select team</option>
                    <option ng-value="team.team_id" ng-repeat="team in teams" ng-bind="team.team_name"></option>
                </select>
                Home team Score<input type="text" ng-model="home_team_score">                
            </div>
            <div class="field" ng-hide="league_pick">
                Away team
                <select ng-model="away_team">
                    <option value="">Select team</option>
                    <option ng-value="team.team_id" ng-repeat="team in teams" ng-bind="team.team_name"></option>
                </select>               
                Away team Score<input type="text" ng-model="away_team_score">  
            </div>
            <div class="field">
                Field ID
                <select ng-model="field">
                    <option value="">Select Field</option>
                    <option ng-value="field.field_id" ng-repeat="field in fields" ng-bind = "field.field_id"></option>
                </select>
            </div>
            <div class="field">
                Broadcast Type
                <select ng-model="type2">
                	<option value="">Select Type</option>
                	<option>TV</option>
                	<option>Online</option>
                	<option>Text</option>
                	<option>Broadcast</option>
            	</select>
            </div>
            <div class="field">
                Broadcast URL<input type="text" ng-model="URL">
            </div>               
        </div>
        <button class="ui button" ng-click="add_game()">Go</button>
    </form>

    <form ng-hide="show[3]" action="" class="ui">
        <div class="field">
            City Name<input type="text" ng-model="city3">
        </div>
     	<button class="ui button" ng-click="add_city()">Send</button>
    </form>

    <form ng-hide="show[4]" action="" class="ui">
        <div class="field">
           	School Name<input type="text" ng-model="school4">
        </div>
        <button class="ui button" ng-click="add_school()">Send</button>
    </form>

    <form ng-hide="show[5]" action="" class="ui">
        <div class="field">
            City Name<input type="text" ng-model="city5">
        </div>
        <div class="field">
            Type
            <select ng-model="type5">
                <option value="">Select Type</option>
                <option>Wooden</option>
                <option>Jewel box</option>
                <option>Multi-purpose</option>
                <option>Modern</option>
                <option>Temporary and converted</option>
                <option>Indoor</option>
                <option>Retractable-roof</option>
                <option>Retro-classic</option>
                <option>Retro-modern</option>
                <option>Contemporary</option>
            </select>
        </div>
        <div class="field">
            Center Distance<input type="text" ng-model="distance">
        </div>
        <button class="ui button" ng-click="add_field()">Send</button>
    </form>

    <form ng-hide="show[6]" action="" class="ui">
		<div class="field">
			Umpire Name<input type="text" ng-model="umpire">
		</div>
		<div class="field">
			Position
			<select ng-model="position">
				<option value="">Select position</option>
				<option>HP</option>
				<option>1B</option>
				<option>2B</option>
				<option>3B</option>
				<option>LF</option>
				<option>RF</option>
			</select>
		</div>
		<button class="ui button" ng-click="add_umpire()">Send</button>
	</form>
</div>

<script type="text/javascript">
	$(document)
  	.ready(function(){
	$('.menu a.item')
  		.on('click', function() {
			$(this)
			.addClass('active')
			.closest('.ui.menu')
			.find('.item')
			.not($(this))
			.removeClass('active');
  		});
  	});
</script>