<div class="ui page grid">
    <div class="column padleft">
        <div class="ui teal addingb">

            <form action="" class="ui ">
                <div class="field">
                    City Name<input type="text" ng-model="city">
                </div>
                 <div class="field">
                    Type
                    <select ng-model="type">
                        <option value="">Select Type</option>
                        <option>type1</option>
                        <option>type2</option>
                    </select>
                </div>
                 <div class="field">
                     Center Distance<input type="text" ng-model="distance">
                </div>
                <button class="ui button" ng-click="add_field()">Send</button>
            </form>
        </div>
    </div>
</div>

