<div>
    <button class="ui button" ng-click="show_add_team()">Show</button>
    <div class="column container" ng-hide="team_add">
        <div class="ui teal addingb">
            <form action="" class="ui ">
                 <div class="field">
                   Team name<input type="text" ng-model="name">
                 </div>
                 <div class="field">
                   School<input type="text" ng-model="school">
                 </div>                
                <button class="ui button" ng-click="add_team()">Send</button>
             </form>
        </div>
    </div>
</div>
