<div class="column ui teal mid addingb">
    <form action="" class="ui ">
        <div class="field">
            Player Name<input type="text" ng-model="player">
        </div>
        <div class="field">
            Game <input type="text" ng-model="game">
        </div>
        <div class="field">
            Ban Game Num<input type="text" ng-model="num">
        </div>
        <div class="field">
            Description<input type="text" ng-model="description">
        </div>
        <button class="ui button" ng-click="add_ban()">Send</button>
    </form>
</div>

