<div class="ui page grid">
    <div class="column">
        <div class="ui teal segment">

            <form action="" class="ui form">
                <div class="field">
                    League name<input type="text" ng-model="name">
                </div>
                <div class="field">
                    City<input type="text" ng-model="city">
                </div>
                <div class="field">
                    Year<input type="text" ng-model="year">
                </div>
                <button class="ui button" ng-click="add_league()">Send</button>
            </form>
        </div>
    </div>
    <div>
        <div ng-repeat="league in leagues">
            <span ng-click = "view(league.league_id)" ng-bind = "league.league_name"><span>
        </div>
    </div>
</div>