<div class="row">
	<div class="partialleft">
		<div class="sidebar">
			<div class="ui vertical demo menu">
				<div class="item">
					<div class="ui transparent icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="9u">
	
		<div class="content content-right partialright">
    		<table class="ui celled table ">
    			<thead>
    				<tr>
    					<th>Ban ID</th>
    					<th>Player ID</th>
    					<th>Game ID</th>
    					<th>Game Num</th>
    					<th>Description</th>
    				</tr>
    			</thead>
    			<tbody>
					<tr ng-repeat="ban in bans">
						<td ng-bind = "ban.ban_id"></td>
						<td ng-bind = "ban.player_id"></td>
						<td ng-bind = "ban.game_id"></td>
						<td ng-bind = "ban.game_num"></td>
						<td ng-bind = "ban.description"></td>
					</tr>
				</tbody>
   			</table>
    	</div>
	</div>
</div>