<div class="row">
	<div class="partialleft">
		<div class="sidebar">
			<div class="ui vertical demo menu">
				<div class="item">
					<div class="ui transparent icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="9u">
	
		<div class="content content-right partialright">
    		<table class="ui celled table ">
    			<thead>
    				<tr>
    					<th>Broadcast ID</th>
    					<th>Type</th>
    					<th>Broacast URL</th>
    				</tr>
    			</thead>
    			<tbody>
					<tr ng-repeat="league in leagues">
						<td ng-bind = "league.league_name"></td>
						<td ng-bind = "league.city_id"></td>
						<td ng-bind = "league.year"></td>
						<td ng-bind = "league.year"></td>
						<td ng-bind = "league.year"></td>
					</tr>
				</tbody>
   			</table>
    	</div>
	</div>
</div>