<h2>Game list</h2>
<div ng-repeat="game in games" ng-click="view(game[0].game_id)">
    <span ng-bind="game[1].team_name"></span>
    <span ng-bind="game[0].home_team_score"></span>
    :
    <span ng-bind="game[2].team_name"></span>
    <span ng-bind="game[0].away_team_score"></span>  
</div>