 <section class="box features">
                  <h2 class="major " ;><span class="backcolor">My Ball My Stage My Dream</span></h2>
<div class="home ">
    <p > 最近新增賽事</p>
</div>
<section class="box blog">
      <h2 class="major"><span>About Our Website</span></h2>
<div class="home ">
    <p > 網站設計理念:</p>
</div> 
<section class="box blog">
      <h2 class="major"><span>About Our Website</span></h2>
<div class="home ">
    <p > 最近新增賽事</p>
</div>

