<section class="box features">
                  <h2 class="major " ;><span class="backcolor">My Ball My Stage My Dream</span></h2>
<div class="home ">
    <p>Recent Games</p>
</div>
<section class="box blog">
      <h2 class="major"><span>About Our Website</span></h2>
<div class="home ">
    <p>Rationale</p>
</div> 
<section class="box blog">
      <h2 class="major"><span>About Us</span></h2>
<div class="home ">
    <p >About Us</p>
</div>

