<div class="row  ">
	<div class="partialleft">
		<div class="sidebar">
			<div class="ui vertical demo menu">
				<a class="item">A</a>
				<a class="item">B</a>
				<div class="item">
					<div class="ui transparent icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
                    </div>
                </div>
			</div>
	</div>
</div>
<div class="9u">
	
	<div class="content content-right partialright">
    	<table class="ui celled table ">
    		<thead>
    			<tr>
    				<th>Name</th>
    				<th>City</th>
    				<th>Year</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>1</td>
    				<td>2</td>
    				<td>3</td>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td>2</td>
    				<td>3</td>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td>2</td>
    				<td>3</td>
    			</tr>    		
    		</tbody>
   		</table>
    	<div ng-repeat="league in leagues">
        	<span ng-click = "view(league.league_id)" ng-bind = "league.league_name"><span>
    	</div>
	</div>
</div>
</div>