<div class="9u important(collapse)">
	
	<div class="content content-right">
    	<table class="ui celled table">
    		<thead>
    			<tr>
    				<th>Name</th>
    				<th>City</th>
    				<th>Year</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>1</td>
    				<td>2</td>
    				<td>3</td>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td>2</td>
    				<td>3</td>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td>2</td>
    				<td>3</td>
    			</tr>    		
    		</tbody>
   		</table>
    </div>
</div>