<div ng-bind="team_name">
	
</div>
Participate:
<div ng-repeat="league in par_leagues">
	<span ng-bind="league.league_name"></span>
</div>

<div class="ui teal segment">
    <form action="" class="ui form">
        <div class="field">
        	<span>Add to League</span>
        	<select ng-model="add_league">
        		<option ng-value="league.league_id" ng-repeat="league in leagues" ng-bind="league.league_name"></option>
        	</select>
        </div>
        <button class="ui button" ng-click="add_to_league()">Go</button>
    </form>
</div>