<div ng-bind="league_name"></div>
<div class="ui two column stackable center aligned grid segment">
  	<div class="column">
    	<div class="ui button">Games</div>

  	</div>
  	<div class="ui vertical divider"></div>
  	<div class="column">
	<div class="content content-right partialright">
		<table class="ui celled table ">
			<thead>
				<tr>
					<th>Team Name</th>
					<th>Players</th>
					<th>Detail</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="team in teams">
						<td ng-bind = "team.team_name"></td>
						<td ng-bind = "team.player_num"></td>
						<td><a ng-click="view(team.team_id)">Details</a></td>
				</tr>
			</tbody>
			</table>
	</div>
  	</div>
</div>