<div ng-bind="team_name"></div>
Participate:
<div ng-repeat="league in par_leagues">
	<span ng-bind="league.league_name"></span>
</div>
Players:
<div ng-repeat="player in players">
    <div>
        <span ng-bind="player.position"></span> 
        <span ng-bind="player.player_name"></span>
    </div>
</div>