<div class="ui page grid">
    <div class="column padleft">
        <div class="ui teal addingb">
            <form action="" class="ui ">
                 <div class="field">
                   Team name<input type="text" ng-model="name">
                 </div>
                 <div class="field">
                   School<input type="text" ng-model="school">
                 </div>                
                <button class="ui button" ng-click="add_team()">Send</button>
             </form>
        </div>
    </div>
    <div>
         <div ng-repeat="team in teams">
            <span ng-click="view(team.team_id)" ng-bind = "team.team_name"><span>
        </div>
    </div>
</div>
