<div class="row">
	<div class="partialleft">
		<div class="sidebar">
			<div class="ui vertical demo menu">
				<div class="item">
					<div class="ui transparent icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="9u">
	
		<div class="content content-right partialright">
    		<table class="ui celled table ">
    			<thead>
    				<tr>
    					<th>TeamID</th>
    				  <!--   Field Name -->
    					<th>Team Name</th>
    					<th>School ID</th>
    					<th>Detail</th>
    				</tr>
    			</thead>
    			<tbody>
					<tr ng-repeat="team in team_list">						
							<td ng-bind = "team.team_id"></td>
							<td ng-bind = "team.team_name"></td>
							<td ng-bind = "team.school_id"></td>
							<td><a href="/team_add/team.team_id">Details</a></td>
					</tr>
				</tbody>
   			</table>
    	</div>
	</div>
</div>