.TitTBSD
{ 
    width:1349px;
   height:1.1em;
   border:6em;
   font-size:200%;
   font-weight: bold;
   color:#b1ddab;
   padding-top:0px;
   /*position: absolute;*/
   margin: 0px auto;

}
.addingb
{
   /*padding-left: 15%;*/
   width: 80%;
}
.Top
{
  padding-top:0px;
}
.mid
{
   margin: 0px auto;
   /*padding-left: 15%;*/
}
.Homepage
{
   height:150px;
   background-image: url();
}
#topping
{ 
  font-size: 1.5em;
	line-height: 1.5em;
	text-align: center;
	font-size: 2em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 2em 0 0em 0;
	background: #fff;
}
.partialleft
{
	margin-top:  1.5%;
	margin-left: 3%;
	padding left: 0.5em;

}
.partialright
{
   margin-top: 2.5%;	
 
}
.inform
{
  font-size:200%;
  font-weight: bold;
  color:#b1ddab;
}
.padleft
{
   margin-left:4%;
   padding-left: 20%;
}
.Home
{
  margin-top: 0;
  font-size:200%;
  font-family:微軟正黑體;  
  font-weight: bold;
  color:#b1ddab;
  padding: 0em 0 6em 0;
  margin-left: 3%;
  padding-top: 0;
}
.backcolor
{
  background-color:#ffffe0; 
}
.tableform
{
  colspan="2";
  font-size:200%;
  font-weight: bold;
  margin: 0px auto;
  padding-left: 2em;  
}
.leftm
{
   margin-left: 2%;
   margin-top: 2%;
   widows: 26px;%;
   float:left;
}
.rightm
{
   margin-left: 2%;
   margin-top: 2%;
   width:70%;
   float:right;
}
.centerx
{
  margin: 0 auto;
  font-weight: bold;
  font-family: arial;
  font-size: 200%;
  padding-left: 40%;
  padding-top: 3%;
}
.booa 
{
      -webkit-appearance: none;
      display: inline-block;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      background: rgba(0,0,0,.8);
      color: #fff;
      border: 0;
      line-height: 1em;
      border-radius: 8px;
      outline: 0;
      cursor: pointer;
      -moz-transition: background-color .2s ease-in-out;
      -webkit-transition: background-color .2s ease-in-out;
      -o-transition: background-color .2s ease-in-out;
      -ms-transition: background-color .2s ease-in-out;
      transition: background-color .2s ease-in-out;
}
.tsize
{
  width: 70%;

}